@tailwind base;
@tailwind components;
@tailwind utilities;
/* shadcn-ui */

.shad-button {
  @apply inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50;
}

/* button removed: ring-offset-background focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 */

.shad-sheet__close {
  @apply absolute right-4 top-4 rounded-sm opacity-70 transition-opacity hover:opacity-100 focus:outline-none disabled:pointer-events-none data-[state=open]:bg-secondary;
}

/* sheet__close removed: ring-offset-background focus:ring-2 focus:ring-ring focus:ring-offset-2 */

.shad-input {
  @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

/* input removed: ring-offset-background focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 */

.shad-textarea {
  @apply flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

/* textarea removed: ring-offset-background focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 */

.shad-dialog__close {
  @apply absolute right-4 top-4 rounded-sm opacity-70 transition-opacity hover:opacity-100 focus:outline-none disabled:pointer-events-none data-[state=open]:bg-accent data-[state=open]:text-muted-foreground;
}

/* dialog__close removed: ring-offset-background focus:ring-2 focus:ring-ring focus:ring-offset-2 */

@layer base {
  :root {
    --background: 56 62% 86%;
    --foreground: 56 15% 21%;

    --card: 56 62% 88%;
    --card-foreground: 56 15% 21%;
 
    --popover: 56 62% 88%;
    --popover-foreground: 56 15% 21%;

    --primary: 56 15% 21%;
    --primary-foreground: 56 62% 86%;
 
    --secondary: 56 62% 86%;
    --secondary-foreground: 56 15% 21%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    /* not changed */
 
    --accent:  56 62% 95%;
    --accent-foreground: 56 15% 30%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    /* not changed */

    --border: 56 12% 21%;
    --input: 56 12% 21%;
    --ring: 20 14.3% 4.1%;
    /* ring not changed */
 
    --radius: 0.5rem;
  }
 
/* baseyellow: hsl(56, 62%, 86%)
darkyellow: hsl(56, 56%, 77%)
darkgreen: hsl(56, 15%, 21%)
darkbrown: hsl(5, 15%, 14%) 
bg-stone-900: hsl(24 10% 10%)
bg-stone-800: hsl(5 13% 16%) */

  .dark {
    --background: 24 10% 15%;
    --foreground: 56 62% 86%;
 
    --card: 24 13% 15%;
    --card-foreground: 56 62% 86%;

    --popover: 24 13% 15%;
    --popover-foreground: 56 62% 86%;

    --primary: 56 62% 86%;
    --primary-foreground: 5 13% 16%;
 
    --secondary: 5 13% 16%;
    --secondary-foreground: 56 62% 86%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    /* not changed */
 
    --accent: 24 13% 20%;
    --accent-foreground: 56 62% 95%;
 
    --destructive: 0 30% 60%;
    --destructive-foreground: 60 9.1% 97.8%;
    /* not changed */
 
    --border: 24 10% 10%;
    --input: 24 10% 10%;
    --ring: 24 5.7% 82.9%;
    /* ring not changed */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.page {
  @apply box-border flex flex-col min-h-[100svh] p-0 m-0 text-darkgreen dark:text-baseyellow bg-baseyellow dark:bg-stone-900
}

/* potential .page-landing, .page-blog for future */

/* .page_landing {

}

.page_blog {

} */

.header {
  @apply fixed top-0 left-0 right-0 w-[100vw];
}

.page__header {
  @apply p-0 m-0;
}

.header_glass {
  @apply z-50 bg-darkyellow/50 dark:bg-stone-800/50 backdrop-blur-md;
}

.navbar {
  @apply flex flex-row justify-between items-center mx-auto;
}

.header__navbar {
  @apply max-w-7xl pl-8 pr-6 py-2 sm:py-4;
}

.logo {
  @apply font-bold text-center;
}

.navbar__logo {
  @apply pb-1 sm:pb-0 text-3xl sm:text-5xl;
}

.navbar__container {
  @apply flex gap-8;
}

.link-menu {
  @apply mx-auto text-lg list-none;
}

.navbar__link-menu {
  @apply mx-4;
}

.link-menu_axis_x {
  @apply hidden md:flex justify-evenly items-center gap-10;
}

.navbar__button {
  @apply text-2xl focus:outline-none;
}

.navbar__button_axis_y {
  @apply lg:hidden px-2;
}

.link-menu_axis_y {
  @apply flex flex-col justify-center items-center gap-5;
}

.link-menu__item {
  @apply text-center;
}

.link-menu__item_hover_underline {
  @apply after:block after:w-0 after:h-0.5 after:rounded after:m-0 after:bg-darkgreen after:dark:bg-baseyellow hover:after:w-full after:transition-all after:duration-500;
}

.main {
  @apply max-w-full mx-0 min-h-[100svh];
}

.main_about, .main_journal, .main_signup, .main_login {
  @apply pt-12;
}

.main_loading {
  @apply flex justify-center items-center;
}

.main__card {
  @apply flex justify-center items-center p-4 space-y-4;
}

.main__card_loading {
  @apply rounded-3xl;
}

.hero-section {
  @apply max-w-7xl h-[100svh] lg:min-h-screen flex flex-col-reverse justify-center sm:flex-row items-center gap-4 px-6 mx-auto relative pb-16 mt-32 sm:mt-20;
}

.hero-section__article {
  @apply sm:w-1/2;
}

.hero-section__article_left {
  @apply flex sm:block flex-col justify-center items-center sm:pb-20 sm:mx-4 sm:mt-12;
}

.hero-section__entry-animation {
  @apply animate-in fade-in duration-1000;
}

.hero-section__entry-animation_left {
  @apply slide-in-from-bottom-64 sm:slide-in-from-bottom-0 sm:slide-in-from-left-64;
}

.hero-section__entry-animation_right {
  @apply slide-in-from-top-64 sm:slide-in-from-top-0 sm:slide-in-from-right-64;
}

.hero-section__article_right {
  @apply max-w-[16rem] sm:max-w-[calc(100svh-6rem)] flex justify-center items-center;
}

.image {
  @apply w-auto sm:max-h-[calc(100svh-6rem)];
}

.image_shadow {
  @apply drop-shadow-[0_5px_10px_rgb(62,61,46,0.5)] dark:drop-shadow-[0_5px_10px_rgb(229,225,164,0.3)];
}

.hero-section__text {
  @apply max-w-md;
}

.text {
  @apply text-center sm:text-left;
}

.text_heading {
  @apply font-bold text-4xl;
}

.text_paragraph {
  @apply text-xl text-stone-600 dark:text-stone-400;
}

/* .text_shadow {
  @apply [text-shadow:_0_5px_10px_rgb(62,61,46,0.3)] dark:[text-shadow:_0_5px_10px_rgb(229,225,164,0.3)];
} */

.hero-section__text_heading {
  @apply lg:max-w-xl text-3xl sm:text-5xl md:text-6xl lg:text-8xl;
}

.hero-section__text_paragraph {
  @apply mt-4 mb-8 sm:mb-4 sm:ml-2 text-base sm:text-lg;
}

.button {
  @apply transition-all duration-300 hover:cursor-pointer text-center;
}
/* removed: bg-darkgreen dark:bg-baseyellow text-baseyellow dark:text-darkgreen */

.hero-section__button {
  @apply max-w-md h-auto inline-block px-4 md:px-12 py-4 rounded-3xl mt-2 sm:mt-4 mx-auto text-2xl sm:text-xl lg:text-3xl font-bold;
}

.button_hover_shadow {
  @apply shadow-[0_0_10px_rgb(62,61,46,0.4)] dark:shadow-[0_0_15px_rgb(229,225,164,0.4)] hover:shadow-[0_0_20px_rgb(62,61,46,0.8)] dark:hover:shadow-[0_0_20px_rgb(229,225,164,0.8)];
}

.button_active_shadow {
  @apply active:shadow-[0_0_20px_rgb(62,61,46,0.8)] dark:active:shadow-[0_0_20px_rgb(229,225,164,0.8)];
}

.button_hover_invert {
  @apply hover:text-darkgreen dark:hover:text-baseyellow hover:bg-white/50 dark:hover:bg-stone-800;
}

.button_active_scale {
  @apply active:transform active:scale-95;
}

.general-section {
  @apply max-w-7xl min-h-fit mx-auto mb-[10vh] px-2 sm:px-6 mt-0 py-4 md:py-8;
}

.general-section__text_heading {
  @apply px-4 my-8 sm:my-16 text-3xl sm:text-6xl text-center font-bold;
}

.general-section__entry-animation {
  @apply animate-in fade-in duration-1000;
}

.general-section__entry-animation_top {
  @apply slide-in-from-top-64;
}

.general-section__entry-animation_bottom {
  @apply slide-in-from-bottom-64;
}

.card-list {
  @apply flex flex-col justify-center items-center p-4 mx-auto;
}

.card-list_about {
  @apply w-full gap-12 md:gap-16;
}

.card {
  @apply p-3 lg:p-6 shadow-xl max-w-[80rem];
}
/* removed: rounded-3xl bg-darkyellow dark:bg-stone-800 shadow-xl  */

.horizontal-rule {
  @apply border-t border-stone-600 dark:border-stone-400 m-6;
}

.card__text_paragraph {
  @apply text-center;
}

.footer {
  @apply w-full h-[14rem] md:h-[18rem] py-6 bg-darkyellow/50 dark:bg-[hsl(24_15%_12%)] mt-auto;
}

.footer-section {
  @apply md:max-w-7xl flex mx-auto;
}

.footer-section__text {
  @apply text-center;
}

.footer-section__text_heading {
  @apply mb-4 md:mb-8 text-2xl md:text-4xl text-center font-bold;
}

.footer-section__text_paragraph {
  @apply text-stone-600/80 dark:text-stone-400/80 text-base md:text-lg text-center;
}

.footer-section__article {
  @apply flex flex-col w-full;
}

.footer-section__social-links {
  @apply flex justify-center mt-4 md:mt-10;
}

.footer-section__social {
  @apply p-2 md:p-6 rounded-full mx-2 md:mx-4 text-xl md:text-2xl;
}

.footer-section__hover-content {
  @apply w-[20rem] mb-2;
}

.footer-section__hover-container {
  @apply flex justify-between space-x-4;
}

.footer-section__hover-main {
  @apply text-sm space-y-2;
}

.footer-section__hover-heading {
  @apply font-semibold;
}

.mailing-form {
  @apply max-w-[12rem] md:min-w-[25rem];
}

.mailing-form__input {
  @apply p-4 border-r-0 rounded-r-none;
}
.mailing-form__button {
  @apply py-4 px-2 sm:px-4 border border-l-0 border-input rounded-l-none;
}

.entry-container {
  @apply flex justify-center items-center;
}

.entry-container__button {
  @apply text-base;
} 

.signup-card, .login-card {
  @apply pt-4 mx-auto max-w-[80%] sm:max-w-[60%] lg:max-w-[50%];
}

.form {
  @apply flex flex-col space-y-8;
}

.form__button {
  @apply text-lg;
}

.link-container {
  @apply flex justify-center items-center;
}

.link {
  @apply mt-8 after:block after:w-full after:h-0.5 after:rounded after:m-0 after:bg-darkgreen after:dark:bg-baseyellow;
}